.md-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    min-width: 48px;
    height: 40px;
    padding: 0 12px;
    gap: 0 8px;
    position: relative;
    border-radius: var(--md-sys-shape-corner-full);
    color: var(--md-sys-color-primary);

    &[selected] {
        background: var(--md-sys-color-secondary-container);
        color: var(--md-sys-color-on-secondary-container);
    }

    &__icon {
        width: 18px;
        height: 18px;
        font-size: 18px;

        + .md-button__label {
            margin-right: 16px;
        }
    }

    &__label {
        @extend .md-typography--label-large;
    }

    &__native {
        appearance: none;
        width: 100%;
        height: 100%;
        transform: translate3d(-50%, -50%, 0);
        position: absolute;
        left: 50%;
        top: 50%;
        background: transparent;
        color: transparent;
    }

    &--elevated {
        padding-left: 24px;
        padding-right: 24px;
        color: var(--md-sys-color-primary);
        box-shadow: var(--md-sys-elevation-level1);

        .md-button__icon {
            margin-left: -8px;

            + .md-button__label {
                margin-right: 0;
            }
        }
    }

    &--filled {
        padding-left: 24px;
        padding-right: 24px;
        background: var(--md-sys-color-primary);
        color: var(--md-sys-color-on-primary);

        .md-button__icon {
            margin-left: -8px;

            + .md-button__label {
                margin-right: 0;
            }
        }
    }

    &--tonal {
        padding-left: 24px;
        padding-right: 24px;
        background: var(--md-sys-color-secondary-container);
        color: var(--md-sys-color-on-secondary-container);

        .md-button__icon {
            margin-left: -8px;

            + .md-button__label {
                margin-right: 0;
            }
        }
    }

    &--outlined {
        padding-left: 24px;
        padding-right: 24px;
        color: var(--md-sys-color-primary);
        box-shadow: inset 0 0 0 1px var(--md-sys-color-outline);

        .md-button__icon {
            margin-left: -8px;

            + .md-button__label {
                margin-right: 0;
            }
        }
    }
}
