.md-fab {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 56px;
    height: 56px;
    border-radius: var(--md-sys-shape-corner-large);
    // box-shadow: var(--md-sys-elevation-level1);
    background: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);

    // &__icon{}

    &__label {
        @extend .md-typography--label-large;
    }

    &--small {
        width: 40px;
        height: 40px;
        border-radius: var(--md-sys-shape-corner-medium);
    }

    &--large {
        width: 96px;
        height: 96px;
        border-radius: var(--md-sys-shape-corner-extra-large);

        .md-fab__icon {
            width: 36px;
            height: 36px;
            font-size: 36px;
        }
    }

    &--extended {
        width: auto;
        min-width: 56px;
        height: 56px;
        padding: 0 16px;
        gap: 0 8px;
        border-radius: var(--md-sys-shape-corner-large);

        .md-fab__icon {
            width: 24px;
            height: 24px;
            font-size: 24px;
        }
    }
}
