.md-tab {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
    min-height: 48px;

    &[selected] {
        // background: var(--md-sys-color-primary);
        color: var(--md-sys-color-primary);
    }

    &__icon {
        margin: 8px 0;

        + .md-tab__label {
            margin-top: -4px;
        }
    }

    &__label {
        margin: 8px 0;
        @extend .md-typography--title-small;
    }
}
