@keyframes md-menu {
    0%{
        transform: scale(0.88);
    }
    100%{
        transform: scale(1);
    }
}

.md-menu {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    pointer-events: none;

    &__container {
        min-width: 112px;
        max-width: 280px;
        border-radius: var(--md-sys-shape-corner-extra-small);
        transform: scale(1);
        position: absolute;
        z-index: 2;
        background: var(--md-sys-color-surface-container);
        color: var(--md-sys-on-color-surface-container);
        pointer-events: all;
    }

    &__scrim {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: var(--md-sys-color-scrim);
        opacity: 0%;
        pointer-events: all;
    }

    &.md-menu--open{
        .md-menu__container {
            animation: md-menu var(--md-sys-motion-duration-short4) cubic-bezier(var(--md-sys-motion-easing-standard));
        }

    }

    &:not(.md-menu--open) {
        .md-menu__container {
            opacity: 0;
            // transform: scale(0.88);
            pointer-events: none;
        }

        .md-menu__scrim {
            opacity: 0;
            pointer-events: none;
        }
    }
}
